.devcontainer/ export-ignore
.github/ export-ignore
.superpowers/ export-ignore
assets/src/ export-ignore
docs/ export-ignore
scripts/ export-ignore
tests/ export-ignore
.browserslistrc export-ignore
.distignore export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.nvmrc export-ignore
.stylelintrc.json export-ignore
.wp-env.json export-ignore
eslint.config.js export-ignore
package-lock.json export-ignore
package.json export-ignore
phpcs.xml.dist export-ignore
phpstan.neon.dist export-ignore
phpunit.integration.xml export-ignore
phpunit.xml export-ignore
playwright.config.js export-ignore
postcss.config.js export-ignore
vite.config.js export-ignore
vitest.config.js export-ignore
vitest.setup.js export-ignore
